{% extends '@App/Default/index.html.twig' %}
{% block maincontent %}
    <table class="projects">
        <thead>
        <td>id</td>
        <td>name</td>
        <td>identifier</td>
        <td>description</td>
        <td>created_on</td>
        <td>updated_on</td>
        </thead>
        {% for value in projects.projects %}
            <tr>
                <td>{{ value.id }}</td>
                <td><a href="{{ path('project', { 'id': value.id }) }}">{{ value.name }}</a></td>
                <td>{{ value.identifier }}</td>
                <td>{{ value.description }}</td>
                <td>{{ value.created_on | date  }}</td>
                <td>{{ value.updated_on | date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock maincontent %}