{% extends '@App/Default/index.html.twig' %}

{% block maincontent %}
    <h2 class="title">{{ project.project.name }}</h2>
    <table>
        <thead>
        <td>id</td>
        <td>project</td>
        <td>tracker</td>
        <td>status</td>
        <td>priority</td>
        <td>author</td>
        <td>subject</td>
        <td>description</td>
        <td>created_on</td>
        <td>updated_on</td>
        </thead>
        {% for value in issues.issues %}
            <tr>
                <td>{{ value.id }}</td>
                <td>{{ value.project.name }}</td>
                <td>{{ value.tracker.name }}</td>
                <td>{{ value.status.name }}</td>
                <td>{{ value.priority.name }}</td>
                <td>{{ value.author.name }}</td>
                <td><a href="{{ path('show-issue', {'id': value.id }) }}">{{ value.subject }}</a></td>
                <td>{{ value.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock maincontent %}

{% block sidebar %}
    <a href="{{ path('track-project', { 'id': project.project.id }) }}">Track time</a>
    <a href="{{ path('trackers-time', { 'id': project.project.id }) }}">Detail</a>
{% endblock sidebar %}


