{% extends '@App/Default/index.html.twig' %}

{% block maincontent %}
    <h2 class="title">Detail Issue</h2>

    {% if trackers_time|length > 0  %}
        <table>
            <thead>
            <td>id</td>
            <td>user</td>
            <td>activity</td>
            <td>hours</td>
            <td>comments</td>
            <td>date</td>
            </thead>
            {% for value in trackers_time %}
                <tr>
                    <td>{{ value.id }}</td>
                    <td>{{ value.user.name }}</td>
                    <td>{{ value.activity.name }}</td>
                    <td>{{ value.hours }}</td>
                    <td>
                        {% if value.comments is defined %}
                            {{ value.comments }}
                        {% endif %}
                    </td>
                    <td>{{ value.created_on | date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <span>No tracked time</span>
    {% endif %}


{% endblock %}

