<header>Redmine test</header>
<div class="navigation">
    <ul class="items">
        <li class="item">
            <a href="{{ path('all-projects') }}">Projects</a>
            <ul>
                <li><a href="{{ path('create-project') }}">New Project</a></li>
                <li><a href="{{ path('create-project') }}">Edit Project</a></li>
                <li><a href="{{ path('create-project') }}">Remove Project</a></li>
            </ul>
        </li>
        <li class="item"><a href="{{ path('all-projects') }}">Issues</a></li>
        <li class="item"><a href="{{ path('all-projects') }}">Users</a></li>
    </ul>
</div>
<div class="content">
    Main page
</div>